{% extends '@AutorentoolCore/main/index.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" media="screen" href="{{ asset('css/mainstyle.css') }}">
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/taskspackagespool.js') }}"></script>
{% endblock %}

{% block body %}
    <div class="col-md-12" style="margin-top: 20px">
        <table id="taskspackages-table" class="table table-bordered dt-responsive nowrap tasksdatatable" cellspacing="0" width="100%">
            <thead>
            <tr>
                <th>Tittle</th>
                <th>Description</th>
                <th>Erstellt</th>
                <th style="text-align:center"></th>
            </tr>
            </thead>
            <tbody>

            {% for taskspackage in taskspackages %}
                <tr>
                    <td>{{ taskspackage.tittle }}</td>
                    <td>{{ taskspackage.description }}</td>
                    <td>{{ taskspackage.creationTimestamp|date('d/m/y H:i:s', "Europe/Berlin") }}</td>
                    <td class="td-buttons-table">
                        <a type="button" class="btn btn-default tasktable-btn btn-edit-task" data-tooltip="tooltip" title="Herunterladen"
                           href="{{ path('download', {'uuid': taskspackage.uuid }) }}">
                            <span class="glyphicon glyphicon-download-alt" style="vertical-align:middle" aria-hidden="true"></span>
                        </a>
                        <a type="button" class="btn btn-danger tasktable-btn task-delete" data-toggle="modal"
                           data-tooltip="tooltip" title="Aufgabe entfernen"
                           data-target="#modalDelete" data-delete-link="{{ path('deletepackage', {'uuid': taskspackage.uuid}) }}">
                            <span class="glyphicon glyphicon-trash" style="vertical-align:middle" aria-hidden="true"></span>
                        </a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    <!-- Modal Submit-->
    <div class="modal fade" id="modalDelete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        {{ include('AutorentoolCoreBundle:Taskspackagespool:modal_delete.html.twig') }}
    </div>
{% endblock %}