
<div class="row">
    <div class="col-md-6">
        {{ form_label(form.itemBody.dragInteraction.mode) }}
        {{ form_widget(form.itemBody.dragInteraction.mode) }}
    </div>
</div>

<div style="overflow-x:auto;">
    <table id="tabletask-table" class="table dt-responsive nowrap" cellspacing="0" border="1" style="border:1px solid lightgray;">
        <tbody id="tabletask-tbody"
               data-prototype="{{ form_widget(form.itemBody.dragInteraction.dragTable.row.vars.prototype.cell.vars.prototype)|e  }}"
               data-prototype="{{ form_widget(form.itemBody.dragInteraction.dragTable.row.vars.prototype)|e  }}">

        {% for row in form.itemBody.dragInteraction.dragTable.row %}
            <tr>
                {% for cell in row.cell %}
                    <td>
                        {{ form_row(cell.head) }}
                        {{ form_row(cell.value) }}
                    </td>
                {% endfor %}

                <td align="center">
                    <button class="btn btn-sm btn-link delrow" disabled type="button"><i class="fa fa-trash-o"></i></button>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
<div>
    <button class="btn btn-warning btn-task-questionadd table-row-add" type="button"><i class="glyphicon glyphicon-plus"></i> Zeile </button>
    <button class="btn btn-warning btn-task-questionadd table-col-add" type="button"><i class="glyphicon glyphicon-plus"></i> Spalte</button>
</div>

<script type="text/javascript" src="{{ asset('js/dragtable.js') }}"></script>